<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %} Default Value {% endblock %}</title>
    <link href="css/style.css" rel="stylesheet" />
    <style>
      .marquee {
        white-space: nowrap;
        overflow: hidden;
        display: inline-block;
        box-sizing: border-box;
        width: 100%;
      }

      .marquee span {
        display: inline-block;
        padding-right: 100%;
        animation: marquee 13s linear infinite;
      }

      @keyframes marquee {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
        }
      }
    </style>
  </head>
  <body>
    <p>This will always be here</p>
    {% block content %}{% endblock %}
  </body>
</html>
